{#
/**
 * @file page_object.html.twig
 * Default theme implementation to present Page object data.
 *
 * This template is used when viewing Page object pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_page_object()
 *
 * @ingroup themeable
{{ dump(_context['elements']|keys) }}
 */
#}
<div data-uuid="{{uuid}}" {{ attributes.addClass('page_object lifebookStudentApp') }}>
	{% if content %}{{ 
		content | without(	
			"field_personal_picture",
			"field_passport")
	}}{% endif %}
	<div class="imagesFlex">
		<div class="field_personal_picture">
			{{ content.field_personal_picture }}
		</div>
		<div class="field_passport">
			{{ content.field_passport }}
		</div>
	</div>
</div>
